body{
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
}
header{
 text-align: center;
}
footer{
 text-align: center;
 color: darkgray;
}




